@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Roboto:wght@300;400&family=Sacramento&display=swap");

body {
	--accent-color: cornflowerblue;
	--description-color: gray;

	margin: 0;
	background-color: whitesmoke;
}

h1 {
	font-family: "Sacramento", cursive;
	font-weight: 300;
	place-content: center;
	text-align: center;
	font-size: 3rem;
	margin: 0;
	background-color: ghostwhite;
}

.project-links {
	text-align: center;
	padding: 1rem 0;
}

a {
	text-decoration: none;
}

.web-preview {
	width: 25rem;
	border-radius: 0.7rem;
	outline: 1px solid gray;
}

.web-preview:is(:hover, :focus) {
	outline: 2px solid var(--accent-color);
	opacity: 1;
}

.web-name {
	text-align: center;
}

.heading {
	font-size: 1.5rem;
	font-weight: 400;
	margin: 0;
	color: rgb(50, 50, 50);
}

.web-name:is(:hover, :focus) {
	text-decoration: underline;
}

.project-demo {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.project-container {
	display: flex;
	flex-direction: column;
	flex: 1;
	outline: 1px solid gainsboro;
	border-radius: 1rem;
	margin: 1rem;
}

.web-description {
	font-family: "Roboto", sans-serif;
	display: flex;
	flex-direction: column;
	flex: auto;
	padding: 1rem;
	margin: 1rem;
	line-height: 1.5rem;
	color: var(--description-color);
	border-radius: 0.5rem;
	background-color: white;
}

.description {
	flex: auto;
	padding: 0;
	margin: 0 0 1rem;
}

.button-group {
	display: inline-flex;
	gap: 1rem;
}

.tile {
	border-radius: 1rem;
	height: 2rem;
	padding: 0 0.5rem;
	background-color: transparent;
	border: 1px solid rgb(170, 170, 170);
}

.tile:is(:hover, :focus) {
	transition-duration: 300ms;
	background-color: var(--accent-color);
}

.about-dev {
	margin: auto auto 1rem;
	padding: 1rem;
	width: 30rem;
	outline: 1px solid gainsboro;
	border-radius: 1rem;
	text-align: center;
}

.dev-image {
	width: 10rem;
	border-radius: 100%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	object-position: top;
}

.montserrat {
	font-family: "Montserrat", sans-serif;
}

.about-text {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
}

.my-links {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-size: small;
}

.fa-brands {
	animation: anime ease 2.5s infinite;
}

@keyframes anime {
	0% {
		color: black;
	}
	50% {
		color: var(--accent-color);
	}
	100% {
		color: black;
	}
}
